.pod {
  background: #eeeeee;
  margin-top: 1px;
  cursor: pointer;
}

.pod:hover
{
  background: #ddd;
}

.part {
  padding-top: 10px;
  padding-bottom: 10px;
}

.title {
  font-size: 1.4em;
}

.summary {
  color: #999;
  font-size: 0.7em;
}

.category {
  color: #bbb;
  font-size: 0.7em;
}

.version {
  text-align: center;
  font-size: 1.5em;
  color: #ccc;
}

.stars {
  text-align: center;
  font-size: 1.5em;
  color: #ccc;
}

.stars .glyphicon {
  color: #ccc;
}

.activity {
  text-align: center;
  color: #ccc;
  font-size: 1.5em;
}

.activity .glyphicon {
  color: #ccc;
}

.pod-details {
  background: #ddd;
}

.pod-details .row {
  margin-left: 5px;
  margin-top: 5px;
}

#footer {
  color: #999;
  text-align: center;
  margin: 10px;
}
