.pod {
  background: #eeeeee;
  margin-top: 1px;
  cursor: pointer;
}

.pod:hover
{
  background: #f6f6f6;
}

.part {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pod .title {
  font-size: 1.4em;
}

.pod .summary {
  color: #999;
  font-size: 0.7em;
}

.pod .category {
  color: #bbb;
  font-size: 0.7em;
}

.pod .version {
  text-align: center;
  font-size: 1.5em;
  color: #ccc;
}

.pod .stars {
  text-align: center;
  font-size: 1.5em;
  color: #ccc;
}

.pod .stars .glyphicon {
  color: #ccc;
}

.pod .activity {
  text-align: center;
  color: #ccc;
  font-size: 1.5em;
}

.pod .activity .glyphicon {
  color: #ccc;
}

.pod-details > .row {
  background: #ddd;
}

.pod-details .links {
  background: #ccc;
}

.pod-details .links a {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  text-decoration: none;
  border: 2px solid transparent;
}

.pod-details .links a:hover {
  border-top-color: #999;
}

.pod-details .links a {
  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: 0.2em;
  color: #fff;
}

.pod-details .links .glyphicon {
  color: #fff;
  font-size: 0.8em;
}

.pod-details .dependencies {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pod-details .dependency {
  color: #999;
}

.pod-details .dependency .version {
  text-align: right;
}

#footer {
  color: #999;
  text-align: center;
  margin: 10px;
}
