// Place all the styles related to the Pods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$primaryColor: #21610B;
$secondaryColor: #DBA901;

$listBgCol: lighten($primaryColor, 60%);
$listHoverBgCol: lighten($listBgCol, 5%);

$headerTextCol: #ddd;
$linkCol: lighten(#21610B, 10%);
$linkHoverCol: lighten($primaryColor, 10%);
$podLinksBg: $secondaryColor;
$podLinksEnabledTextCol: #fff;
$podLinksDisabledTextCol: lighten($secondaryColor, 10%);
$podLinksHoverTextCol: lighten($secondaryColor, 30%);

$btnTextCol: lighten($primaryColor, 10%);
$btnBgCol: desaturate(lighten($primaryColor, 40%), 30%);
$btnActiveTextCol: lighten($primaryColor, 50%);
$btnActiveBgCol: lighten($primaryColor, 10%);

// bootstrap variables

$brand-primary: lighten($primaryColor, 20%);

$body-bg: darken($primaryColor, 10%);

$component-active-color: $btnActiveTextCol;
$component-active-bg: $btnActiveBgCol;

$btn-default-col: $btnTextCol;
$btn-default-bg: $btnBgCol;
$btn-default-border: $btnBgCol;

$navbar-inverse-color: white;
$navbar-inverse-link-color: white;
$navbar-inverse-bg: $btnActiveBgCol;
$navbar-inverse-toggle-border-color: $navbar-inverse-bg;

$breadcrumb-color: $btnTextCol;
$breadcrumb-active-color: darken($btnTextCol, 20%);
$breadcrumb-bg: $btnBgCol;

$pagination-color: $btnTextCol;
$pagination-bg: $btnBgCol;
$pagination-border: $btnBgCol;
$pagination-hover-color: $btnTextCol;
$pagination-hover-bg: $btnBgCol;
$pagination-hover-border: $btnBgCol;
$pagination-active-color: $btnActiveTextCol;
$pagination-active-bg: $btnActiveBgCol;
$pagination-active-border: $btnActiveBgCol;
$pagination-disabled-color: $btnActiveTextCol;
$pagination-disabled-bg: $btnActiveBgCol;
$pagination-disabled-border: $btnActiveBgCol;

@import "bootstrap";

@mixin badge {
  text-align: center;
  font-size: 1.5em;

  & {
    color: $primaryColor;
  }

  .glyphicon {
    color: desaturate(lighten($primaryColor, 30%), 30%);
  }
}

.navbar-container {
  height: 50px;
  background-color: $navbar-inverse-bg;
}

.navbar {
  margin: 0;
  border: 0;

  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;

  a {
    border-bottom: 3px solid transparent;
    &[href]:hover {
      background-color: transparent !important;
      border-bottom: 3px solid $secondaryColor;
    }
  }

  position: fixed;
  width: 100%;
  z-index: 100;

  &.affix-top {
    transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out;
  }

  &.affix {
    opacity: 0.7;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
  }
}

.btn {
  &.active,
  &:active {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-filter: none;
    filter: none;
  }
}

.empty {
  @extend .jumbotron;

  padding-bottom: 50px;
}

.about,
.contribute {
  background-color: white;
  padding-bottom: 50px;

  .glyphicon-heart {
    color: red;
  }
}

.categories-header-container {
  @extend .container-fluid;
  background-color: white;

  .categories-header-row {
    @extend .row;

    .categories-header-col {
      @extend .col-xs-12, .jumbotron;
      background-color: white;
      padding-bottom: 0;

      a[href] {
        font-weight: bold;
      }

      .alert {
        font-size: 1.2em;
      }

      .logo {
        height: 160px;
        width: 160px;
        @include img-retina(image-path('cocoa-tree-160.png'),
                            image-path('cocoa-tree-320.png'),
                            160,
                            160);

        
        @media screen { 
          height: 256px;
          width: 256px;
          background-image: url(image-path('cocoa-tree-256.png'));
        }
      }
    }
  }
}

.categories-container {
  @extend .container-fluid;
  background-color: lighten($primaryColor, 20%);
  padding-top: 10px;

  h1 {
    color: $primaryColor;
    text-align: center;
    font-size: 1em;
  }

  .categories-row {
    @extend .row;
    .categories-col {
      @extend .col-xs-12, .col-md-4, .list-group;
      a {
        @extend .list-group-item;
        border: 0 none transparent;
        background-color: $listBgCol;

        &:hover {
          background-color: $listHoverBgCol;
        } 
      }
      .badge-yellow {
        background-color: $secondaryColor;
      }
    }
  }
}

.pods-container {
  @extend .container-fluid;
  background: lighten($primaryColor, 20%);

  .pods-container-head {
    @extend .container;
    .sort-ctrl {
      @extend .pull-right;
      margin-top: 18px;
      margin-right: 20px;
    }

    .pagination {
      @extend .pull-right;
    }

    .breadcrumb {
      margin-top: 20px;
      a {
        color: $btnTextCol;
      }

      .badge {
        background-color: lighten($btnActiveBgCol, 10%);
      }
    }
  }

  .pods {
    @extend .container;
    padding-bottom: 20px;
  }

  .pod {
    margin-top: 1px;
    cursor: pointer;
    background: $listBgCol;

    &:hover {
      background: $listHoverBgCol;
    }

    .part {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .title {
      font-size: 1.4em;
    }

    .summary {
      color: $primaryColor;
      font-size: 0.7em;
    }

    .category {
      @extend .badge;
      background-color: desaturate(lighten($primaryColor, 50%), 30%);
      margin-right: 5px;
      color: $primaryColor;
      font-size: 0.7em;
    }

    .dependencies {
      color: $primaryColor;
      font-size: 0.7em;
    }

    .version,
    .stars,
    .activity {
      @include badge;
    }
  }

  @mixin pod-relationships {
    font-size: 0.8em;

    h1 {
      color: $primaryColor;
      margin: 5px 0;
      font-size: 1.2em;
      font-weight: normal;
    }

    a {
      color: $primaryColor;
    }

    .version {
      text-align: right;
    }
  }

  .pod-details {
    .links {
      background: $podLinksBg;

      a {
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 0.9em;
        letter-spacing: 0.2em;

        &,
        & .glyphicon {
          color: $podLinksEnabledTextCol;
        }

        &:not([href]) * {
          color: $podLinksDisabledTextCol;
        }

        .glyphicon {
          font-size: 0.8em;
        }

        &:hover {
          &:not([href]) * {
            cursor: default;
          }

          &[href] {
            &, .glyphicon {
              color: $podLinksHoverTextCol;
            }
          }
        }
      }
    }

    .dependencies {
      @include pod-relationships();
      margin: 10px 0;

      .dependency {
        
      }
    }

    .dependents {
      @include pod-relationships();
      margin-bottom: 20px;

      .dependent {
        
      }
    }
  }
}

.footer-container {
  @extend .container-fluid;
  min-height: 100px;

  .footer-row {
    @extend .row;

    margin: 30px 0;
    color: desaturate(lighten($primaryColor, 20%), 30%);

    h1 {
      font-size: 1em;
    }

  }
}
