// Place all the styles related to the Pods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

$primaryColor: #21610B;
$secondaryColor: #DBA901;

$listBgCol: lighten($primaryColor, 60%);
$listHoverBgCol: lighten($listBgCol, 5%);

$headerTextCol: #ddd;
$linkCol: lighten(#21610B, 10%);
$linkHoverCol: lighten($primaryColor, 10%);
$podLinksBg: $secondaryColor;
$podLinksEnabledTextCol: #fff;
$podLinksDisabledTextCol: lighten($secondaryColor, 10%);
$podLinksHoverTextCol: lighten($secondaryColor, 30%);
$dependencyTextCol: $primaryColor;
$noDependenciesTextCol: $primaryColor;

@mixin badge {
  text-align: center;
  font-size: 1.5em;

  & {
    color: $primaryColor;
  }

  .glyphicon {
    color: desaturate(lighten($primaryColor, 30%), 30%);
  }
}

a {
  color: $linkCol;

  &:hover {
    color: $linkHoverCol;
  }
}

.navbar {
  margin: 0;
  border: 0;

  a {
    border-bottom: 3px solid transparent;
    &[href]:hover {
      background-color: transparent !important;
      border-bottom: 3px solid $secondaryColor;
    }
  }
  .navbar-brand {
    color: $headerTextCol !important;
  }
}

.empty {
  @extend .jumbotron;
  
}

.categories-header-container {
  @extend .container-fluid;
  background-color: white;

  .categories-header-row {
    @extend .row;

    .categories-header-col {
      @extend .col-xs-12, .jumbotron;
      background-color: white;


      img {
        margin-right: 20px;
      }

      a[href] {
        font-weight: bold;
      }
    }
  }
}

.categories-container {
  @extend .container-fluid;
  background-color: lighten($primaryColor, 20%);
  padding-top: 10px;

  h1 {
    color: $primaryColor;
    text-align: center;
    font-size: 1em;
  }

  .categories-row {
    @extend .row;
    .categories-col {
      @extend .col-xs-12, .col-md-4, .list-group;
      a {
        @extend .list-group-item;
        border: 0 none transparent;
        background-color: $listBgCol;

        &:hover {
          background-color: $listHoverBgCol;
        } 
      }
      .badge-yellow {
        background-color: $secondaryColor;
      }
    }
  }
}

.pods-container {
  @extend .container-fluid;
  background: lighten($primaryColor, 20%);

  .sort-ctrl {
    margin: 20px 0;
  }

  .pod {
    margin-top: 1px;
    cursor: pointer;
    background: $listBgCol;

    &:hover {
      background: $listHoverBgCol;
    }

    .part {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .title {
      font-size: 1.4em;
    }

    .summary {
      color: $primaryColor;
      font-size: 0.7em;
    }

    .category {
      color: $primaryColor;
      font-size: 0.7em;
    }

    .dependencies {
      color: $primaryColor;
      font-size: 0.7em;
    }

    .version,
    .stars,
    .activity {
      @include badge;
    }
  }

  .pod-details {
    .links {
      background: $podLinksBg;

      a {
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 0.9em;
        letter-spacing: 0.2em;

        &,
        & .glyphicon {
          color: $podLinksEnabledTextCol;
        }

        &:not([href]) * {
          color: $podLinksDisabledTextCol;
        }

        .glyphicon {
          font-size: 0.8em;
        }

        &:hover {
          &:not([href]) * {
            cursor: default;
          }

          &[href] {
            &, .glyphicon {
              color: $podLinksHoverTextCol;
            }
          }
        }
      }
    }
    
    .dependencies {
      margin-top: 0.5em;
      margin-bottom: 2em;
      font-size: 0.8em;

      .dependency {
        color: $dependencyTextCol;

        .version {
          text-align: right;
        }
      }

      .no-dependencies {
        color: $noDependenciesTextCol;
      }
    }
  }
}

.footer-container {
  @extend .container-fluid;

  background-color: darken($primaryColor, 10%);

  .footer-row {
    @extend .row;

    .footer-col {
      @extend .col-xs-12;

      margin: 20px 0;
      color: lighten($primaryColor, 60%);
      text-align: center;
    }
  }
}
