$headBg: #eee;
$headHoverBg: #f6f6f6;
$emphasizeTextCol: #999;
$lightTextCol: #bbb;
$badgeTextCol: #ccc;

@mixin badge {
  text-align: center;
  font-size: 1.5em;

  &, .glyphicon {
    color: $badgeTextCol;
  }
}

.pod {
  background: $headBg;
  margin-top: 1px;
  cursor: pointer;

  &:hover {
    background: $headHoverBg;
  }

  .part {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .title {
    font-size: 1.4em;
  }

  .summary {
    color: $emphasizeTextCol;
    font-size: 0.7em;
  }

  .category {
    color: $lightTextCol;
    font-size: 0.7em;
  }

  .version,
  .stars,
  .activity {
    @include badge;
  }
}

.pod-details {

  & > .row {
    background: #ddd;
  }

  .links {
    background: #ccc;

    a {
      padding-top: 5px;
      padding-bottom: 5px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 0.9em;
      letter-spacing: 0.2em;
      color: #fff;
      border: 2px solid transparent;

      &:not([href]) * {
        color: #ddd;
      }

      &:hover {
        &:not([href]) * {
          cursor: default;
        }

        &:[href] {
          border-top-color: #999;
        }
      }

      .glyphicon {
        color: #fff;
        font-size: 0.8em;
      }
    }
    
  }

  .dependencies {
    padding-top: 10px;
    padding-bottom: 10px;
  
    .dependency {
      color: #999;
      
      .version {
        text-align: right;
      }
    }
  }
}

#footer {
  color: #999;
  text-align: center;
  margin: 10px;
}
