$headBg: #eee;
$headHoverBg: #f5f5f5;
$linkCol: #cc9999;
$linkHoverCol: darken($linkCol, 20%);
$emphasizeTextCol: #999;
$lightTextCol: #F5A9BC;
$badgeTextCol: #ccc;
$podBg: #ddd;
$podLinksBg: #ccc;
$podLinksEnabledTextCol: #fff;
$podLinksDisabledTextCol: #ddd;
$podLinksHoverTextCol: #999;
$dependencyTextCol: #999;
$noDependenciesTextCol: #aaa;
$footerTextCol: #999;

@mixin badge {
  text-align: center;
  font-size: 1.5em;

  &, .glyphicon {
    color: $badgeTextCol;
  }
}

a {
  color: $linkCol;

  &:hover {
    color: $linkHoverCol;
  }
}

.pod {
  background: $headBg;
  margin-top: 1px;
  cursor: pointer;

  &:hover {
    background: $headHoverBg;
  }

  .part {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .title {
    font-size: 1.4em;
  }

  .summary {
    color: $emphasizeTextCol;
    font-size: 0.7em;
  }

  .category {
    color: $lightTextCol;
    font-size: 0.7em;
  }

  .version,
  .stars,
  .activity {
    @include badge;
  }
}

.pod-details {

  & > .row {
    background: $podBg;
  }

  .links {
    background: $podLinksBg;

    a {
      padding-top: 5px;
      padding-bottom: 5px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 0.9em;
      letter-spacing: 0.2em;

      &,
      & .glyphicon {
        color: $podLinksEnabledTextCol;
      }

      &:not([href]) * {
        color: $podLinksDisabledTextCol;
      }

      .glyphicon {
        font-size: 0.8em;
      }

      &:hover {
        &:not([href]) * {
          cursor: default;
        }

        &[href] {
          &, .glyphicon {
            color: $podLinksHoverTextCol;
          }
        }
      }
    }
    
  }

  .dependencies {
    padding-top: 10px;
    padding-bottom: 10px;
  
    .dependency {
      color: $dependencyTextCol;
      
      .version {
        text-align: right;
      }
    }

    .no-dependencies {
      color: $noDependenciesTextCol;
    }
  }
}

#footer {
  color: $footerTextCol;
  text-align: center;
  margin: 10px;
}
